.nav li a, li a {
  cursor: pointer
}

.browsehappy {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

body {
  padding: 0
}

.footer, .header, .marketing {
  padding-left: 15px;
  padding-right: 15px
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px
}

.footer {
  padding-top: 19px;
  color: #777
}

.container-narrow > hr {
  margin: 30px 0
}

.marketing {
  margin: 40px 0
}

.marketing p + h4 {
  margin-top: 28px
}

.demo-page, .run-demo {
  margin-top: 15px
}

@media screen and (min-width: 768px) {
  .footer, .header, .marketing {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px
  }

  .jumbotron {
    border-bottom: 0
  }
}

.media .btn {
  margin-bottom: 30px
}

.ng-enter, .ng-leave {
  transition: .5s linear all
}

.main-view.ng-enter, .main-view.ng-leave {
  transition: .5s linear all;
  position: absolute;
  width: 100%
}

.ng-enter {
  opacity: 0
}

.main-view.ng-leave, .ng-enter.ng-enter-active {
  opacity: 1
}

.main-view.ng-leave.ng-leave-active {
  opacity: 0
}

.ng-leave {
  display: none
}

.jumbotron {
  padding-bottom: 12px
}

.main-view {
  padding-top: 30px;
  transition: opacity .5s ease
}

.thumbnail {
  background-color: #fff !important
}

.jumbotron .btn {
  margin-bottom: 20px
}

.jumbotron pre {
  background-color: #FDFDFD
}

.demos-header {
  margin-bottom: 30px
}

.run-demo {
  margin-bottom: 10px
}

.demo-page pre {
  margin-top: 20px;
  margin-bottom: 20px
}

.text-black {
  color: #000
}

.thumbnail {
  margin: 20px auto;
  max-width: 135px
}

.thumbnail.canvas-fix {
  padding-bottom: 0
}
